@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* essas cores foram tiradas do gpt-4 com base nas cores da logo, pode ser atualizadas.  */
:root{
    --carvao:#333333;
    --cinzaEscuro:#666666;
    --grafite:#4B4B4B;
    --dourado:#FFD700;
    --ouroVelho: #CFB53B;
    --ouroRosa: #B76E79;
    --bronze: #CD7F32;
    --ouroMetalico: #D7B456;
    --amareloArylide: #E8CC5D;

}

a, a:hover, a:active, a:link, a:visited{
    text-decoration: none;
    
}

header{
    /* background-image: linear-gradient( to right, var(--carvao), var(--grafite)); */
    width: 10%;
    height: 20vh;
    display: flex;
    align-items: start;
    position: fixed;
    padding: 10px;
}
.logo-header{
    width: 110px;
    margin: 5px;
    animation: logo-animate 2s ease-in ;
}

@keyframes logo-animate{
    from{
        opacity: 0;
        filter: blur(15px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

nav .nav_list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    animation: logo-animate 2s ease-in ;
}

.nav_list > li{
    list-style: none;
    

}
.nav_list a{
    color: var(--carvao);
}
.nav_list li{
   padding: 20px;
   transition: 0.6s;
   transition-timing-function: ease-in-out;

}
.nav_list li:hover{
    background-color: var(--ouroVelho);
    border-radius: 4px;
}

/* section home */

.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-header{
    width: 200px;
}

.home{
    animation: logo-animate 2s ease-in
}

.home h1{
    color: var(--amareloArylide);
}
.home p{
    color: var(--grafite);
}

.container-wrap{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    text-align: justify;
}



/* serviços */

.reparos-assistencia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
}

.compra-venda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
}
.acessorios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 50px;
}

.acessorios{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.img{
    width: 50%;
    margin: 10px;
    
}
.img-wraper{
    background-color: black;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    border-radius: 25px;
    overflow: hidden;
    aspect-ratio: auto 400 / 500;
}

.img-wraper > h2{
    padding: 0 10px;
    color: white;
}
.img-wraper:hover{
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .32);
	transition: all .3s cubic-bezier(0, 0, .5, 1);
	transform: scale3d(1.01, 1.01, 1.01);
}
.image-left{
    object-fit: fill;
    position: relative;
    left: 10%;
    top: 30%;  
}
.image-right{
    object-fit: fill;
    position: relative;
    left: 50%;
    top: -10%; 
    width: 110%;
}

.animate{
    transform: translate(-20%, -20%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
    
}
.animate2{
    transform: translate(-40%);
    transition: all .5s cubic-bezier(0, 0, .5, 1);
}

.img-right{
    background-color: aliceblue;
    
}
.img-right > h2{
    color: black;
}


.information{
    width: 50%;
    margin-top: 15px;
    text-align: justify;

}

.contact-wrap{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px;

}
.maps {
    width: 50%;
}

iframe{
    border-radius: 12px;
    width: 100%;
}
.social-midia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    
}
.bi-messenger{
    font-size: 2.5rem;
}
.bi-messenger span{
    font-size: 1.5rem;
    
}

.bi-whatsapp{
    color: green;
    font-size: 2.5rem;
}
.bi-whatsapp:hover{
    color: rgb(4, 184, 4);
}
.bi-whatsapp span{
    font-size: 1.5rem;
}

footer{
    width: 100%;
    color: var(--bronze);
    text-align: center;
}


/* responsividade */

@media screen and (max-width: 767px) {
        header {
            display: none;   
        }
        .home{
            height: 100vh;
        }
        .reparos-assistencia{
            display: flex;
            flex-direction: column;
            
            width: 100%;
            height: auto;
            padding: 50px;
            margin: 0 auto;
        }
        .compra-venda{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 50px;
        }
        .acessorios{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
        .img{
            width: 90%;
        }

        .img-wraper{
            margin: 0 auto;
            width: 100%;
            height: 300px;
        }
        .image-right{
            object-fit: fill;
            position: relative;
            left: 50%;
            top: 8%; 
            width: 100%;
        }
        .image-left{
            object-fit: fill;
            position: relative;
            left: 20%;
            top: 30%;  
            width: 120%;
        }
        .information{
            width: 100%;
            margin: 10px;
        }
        .contact-wrap{
            flex-direction: column-reverse;
            justify-content: center;
            width: 100%;
        }
        .maps {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        iframe{
            border-radius: 12px;
            width: 80%;
        }
        .social-midia{
            display: flex;
            width: 80%;
            justify-content: center;
           margin: 20px auto;
            
        }

}