@charset "UTF-8";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* cores podem ser modificadas.  */
:root {
	--carvao: #333333;
	--cinzaEscuro: #666666;
	--grafite: #4B4B4B;
	--dourado: #FFD700;
	--ouroVelho: #CFB53B;
	--ouroRosa: #B76E79;
	--bronze: #CD7F32;
	--ouroMetalico: #D7B456;
	--amareloArylide: #E8CC5D;
}

@keyframes gradient {
	0% {
		top: 0%;
	}

	50% {
		top: -25%;
	}

	100% {
		top: 0%;
	}
}

@keyframes logo-animate {
	from {
		opacity: 0;
		filter: blur(15px);
	}

	to {
		opacity: 1;
		filter: blur(0);
	}
}


body {
	background-color: #f5f5f7;
	overflow-x: hidden;
}


a,
a:hover,
a:active,
a:link,
a:visited {
	text-decoration: none;

}

.titlescreen {
	height: 80vh;
	width: 100vw;
}

#gradient {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#6f6f6f 0%, rgba(255, 255, 255, 0) 100%);
	animation: gradient 5s ease infinite;
	z-index: -1;
}

.logo {
	position: absolute;
	top: 10vh;
	left: 50vw;
	transform: translate(-50%, -10%);
	display: flex;
	align-self: center;
	margin: auto;
	width: 280px;
	animation: logo-animate 2s ease-in;
}

.logo-name {
	position: absolute;
	top: 10vh;
	margin-top: 280px;
	left: 50vw;
	transform: translate(-50%, -10%);
	display: flex;
	align-self: center;
	width: 300px;
	animation: logo-animate 2s ease-in;
}

main {
	margin-left: 10%;
	margin-right: 10%;
}

.cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-family: Helvetica;
	word-wrap: break-word;
}

.card-row {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.card-row h1 {
	width: 50%;
}

.inverted {
	flex-direction: row-reverse;
}

.card {
	display: flex;
	aspect-ratio: auto 400/500;
	width: 25vw;
	overflow: hidden;
	border-radius: 18px;
	background-color: white;
	box-shadow: 2px 4px 12px rgba(0,0,0,.16);
	transition: all .3s cubic-bezier(0, 0, .5, 1);
}
.card:hover {
	box-shadow: 2px 4px 16px rgba(0, 0, 0, .32);
	transition: all .3s cubic-bezier(0, 0, .5, 1);
	transform: scale3d(1.01, 1.01, 1.01);
}

.first, .third {
background-color: black;	
}

.second {
justify-self: flex-end;
}

.first img {
	object-fit: fill;
	position: relative;
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	height: 100%;
}

.first h1, .third h1 {
	position: relative;
	top: 5%;
	left: 5%;
	color: white;
	z-index: 1;
}

.second h1 {
	position: relative;
	top: 5%;
	left: 5%;
	z-index: 1;
}

.second img {
	object-fit: fill;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: relative;
	height: 100%;
}

.third img {
	object-fit: fill;
	position: fixed;
	left: -20%;
	top: 70%;
	transform: translate(-50%, -50%);
	position: relative;
	height: 100%;
}

footer {
	width: 100%;
	color: var(--bronze);
	text-align: center;
}